/* =========================
   Global Styles
========================= */

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0 20px;
}

/* =========================
   Headings
========================= */

h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2 {
    font-size: 30px;
    color: #0D0D0D;
}

/* =========================
   Paragraphs
========================= */

p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

/* =========================
   Images
========================= */

img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #FFFFFF;
}

/* =========================
   Default Div Styling
========================= */

div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}

/* =========================
   Introduction Class
========================= */

.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

/* =========================
   Red Section
========================= */

.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-left: 5px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

/* =========================
   Blue Section
========================= */

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
}

/* Fix contrast for blue section */
.blue h2,
.blue p {
    color: #C4C4C4;
}

/* =========================
   Yellow Section
========================= */

.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-left: 5px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

/* Fix contrast for yellow section */
.yellow p {
    color: #707070;
}

/* =========================
   Green Section
========================= */

.green {
    background-color: #00D800;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
}

/* =========================
   Footer
========================= */

footer {
    background: linear-gradient(
        to right,
        #000000 0%,
        #0000ff 25%,
        #0066ff 70%,
        #000000 100%
    );
    border: 5px solid #FFFFFF;
}

/* =========================
   Footer Paragraphs
========================= */

footer p {
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 0;
}
