body {
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0 20px;
}

/* red */
.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;

    border: none;
    border-left: 5px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

/* blue */
.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;

    border: none;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
}

.blue h2,
.blue p {
    color: #C4C4C4;
}

/* yellow */
.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;

    border: none;
    border-left: 5px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.yellow p {
    color: #707070;
}

/* green */
.green {
    background-color: #00D800;
    text-align: left;
    margin-right: 50px;

    border: none;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
}

.green p,
.green h2 {
    color: #000000;
}
